extends layout

block content
    // Hero footer: will stick at the bottom
    div.hero-foot
        nav.tabs
            div.container
                ul#rooms
                    each room in rooms
                        li(class='room-' + room.id)
                            a(href='/widget/' + room.id) #{room.label}
                    li
                        a(href='/login') Войти в систему
    section.section
        div.container
            div.heading
                h1.title Что такое WebRTC?
                h2.subtitle Каким образом осуществяется видео/аудио звонок?
                div.content
                    p Простой и понятный текст о том, что такое WebRTC.
    section.section
        div.container
            div.heading
                h1.title Требования к программному обеспечению
                h2.subtitle Какое программное обеспечение требуется для того, чтобы мог бы осущестляться звоно?
                div.content
                    p Простой и понятный текст о том, что должен иметь пользователь на компьютере, для того, чтобы иметь возможность пользоваться сервисом
    section.section
        div.container
            div.heading
                h1.title Почему это удобно?
                h2.subtitle Почему нужно и удобно пользоваться данным сервисом нашей компании
                div.content
                    p Мотивационный текс
    