extends layout

block content
    section(class='section')
        div(class='container')
            div(class='heading')
                h1(class='title') Что такое WebRTC?
                h2(class='subtitle') Каким образом осуществяется видео/аудио звонок?
                div(class='content')
                    p Простой и понятный текст о том, что такое WebRTC.
    section(class='section')
        div(class='container')
            div(class='heading')
                h1(class='title') Требования к программному обеспечению
                h2(class='subtitle') Какое программное обеспечение требуется для того, чтобы мог бы осущестляться звоно?
                div(class='content')
                    p Простой и понятный текст о том, что должен иметь пользователь на компьютере, для того, чтобы иметь возможность пользоваться сервисом
    section(class='section')
        div(class='container')
            div(class='heading')
                h1(class='title') Почему это удобно?
                h2(class='subtitle') Почему нужно и удобно пользоваться данным сервисом нашей компании
                div(class='content')
                    p Мотивационный текс
    