extends profile-layout

block content
    if(isSaved !== null)
        if(isSaved === true)
            article.message.is-success
                div.message-header Room created
                div.message-body
                    strong Congratilations,
                    span   room are created!
        else
            article.message.is-danger
                div.messate-header Room not created
                div.message-body
                    strong Error,
                    span  room do not created. Try later or contact with administrator.
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 Create room
        div.columns
            div.column.is-fullwidth
                form(method='post')
                    div.columns
                        div.column.is-12
                            p.control
                                label.label(for='name') Room name
                                input.input#name(name='name', type='text', placeholder='testroom' required)
                    div.columns
                        div.column.is-12
                            p.control
                                label.label(for='label') Room label
                                input.input#label(name='label', type='text', placeholder='Rlyeh', required)
                    div.columns
                        div.column
                            p.control
                                label.label(for='visiability') Visiability
                                span.select.is-fullwidth
                                    select#visiability(name='visiability')
                                        option#private(name='private') Private
                                        option#public(name='public') Public
                        div.column
                            p.control
                                label.label(for='company') Company
                                span.select.is-fullwidth
                                    select#company(name='company')
                                        each item in companies
                                            option(id=item.name, name=item.name) #{item.name}
                    p.control
                    p.control
                        button.button.is-primary Save
                        a.button.is-link(href='/profile') Cancel
