extends profile-layout

block content
    if(isSaved !== null)
        if(isSaved === true)
            article.message.is-success
                div.message-header Page created
                div.message-body
                    strong Congratulations,
                    span   page are created!
        else
            article.message.is-danger
                div.message-header Page do not created
                div.message-body
                    strong Error,
                    span  page do not created. Try later or contact with administrator.
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 Create page
        div.columns
            div.column.is-fullwidth
                form(method='post')
                    p.control
                        label.label(for='name') Page name
                        input.input#name(name='name', type='text', placeholder='war-word' required)
                    p.control
                        label.label(for='title') Page title
                        input.input#title(name='title', type='text', placeholder='Wake up Cthilhu', required)
                    p.control
                        label.label(for='subtitle') Page subtitle
                        input.input#title(name='subtitle', type='text', placeholder='When king of world wake up?', required)
                    p.control
                        label.label(for='text') Page content
                        textarea.textarea#text(name='text', placeholder='In his house at Rlyeh, dead Cthulhu waits dreaming.', required)
                    p.control
                        button.button.is-primary Save
                        a.button.is-link(href='/profile') Cancel
