extends profile-layout

block content
    if(isSaved !== null)
        if(isSaved === true)
            article.message.is-success
                div.message-header Question created
                div.message-body
                    strong Congratulations,
                    span   questino are creted!
        else
            article.message.is-danger
                div.message-header Question do not created
                div.message-body
                    strong Error,
                    span  questin do not created. Try later or contact width administrator.
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 Create question
        div.columns
            div.column.is-fullwidth
                form(method='post')
                    div.columns
                        div.column
                            p.control
                                label.label(for='pollsType') Type polls
                                span.select.is-fullwidth
                                    select#pollsType(name='pollsType')
                                        option(value='worker') For workers
                                        option(value='client') For customers
                        div.column
                            p.control
                                label.label(for='questionText') Question
                                input.input#questionText(name='questionText', type='text', placeholder='When the wake up Cthulhu?', required)
                    div.columns
                        div.column
                            p.control
                                label.label(for='answerOne') Answer 1
                                input.input#answerOne(name='answerOne', type='text', placeholder='Yes', required)
                        div.column
                            p.control
                                label.label(for='answerTwo') Answer 2
                                input.input#answerTwo(name='answerTwo', type='text', placeholder='No', required)
                    div.columns
                        div.column
                            p.control
                                label.label(for='answerThree') Ответ 3
                                input.input#answerThree(name='answerThree', type='text', placeholder='Do not know', required)
                        div.column
                            p.control
                                label.label(for='answerFore') Ответ 4
                                input.input#answerFore(name='answerFore', type='text', placeholder='Nevermore', required)
                    p.control
                        button.button.is-primary Save
                        a.button.is-link(href='/profile') Cancel
