extends profile-layout

block content
    if(isSaved !== null)
        if(isSaved === true)
            article.message.is-success
                div.message-header Page succefull saved
                div.message-body
                    strong Congratulations,
                    span   all chane saved!
        else
            article.message.is-danger
                div.message-header Fail saved changes
                div.message-body
                    strong Error,
                    span  when try saved change. Try later or contact with admin
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 Editing page
        div.columns
            div.column.is-fullwidth
                form(method='post')
                    p.control
                        label.label(for='name') Page name
                        input.input#name(name='name', type='text', placeholder='war-word', value=page.name, required)
                    p.control
                        label.label(for='title') Page title
                        input.input#title(name='title', type='text', placeholder='Cthulhu fhtagn!', value=page.title, required)
                    p.control
                        label.label(for='subtitle') Page subtitle
                        input.input#title(name='subtitle', type='text', placeholder='In his house at Rlyeh, dead Cthulhu waits dreaming', value=page.subtitle, required)
                    p.control
                        label.label(for='text') Page content
                        textarea.textarea#text(name='text', placeholder='Текст содержания страницы', required) #{page.text}
                    p.control
                        button.button.is-primary Save
                        a.button.is-link(href='/profile') Cancel
