doctype html
html
  head
    title= 'Комната не найдена'
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    div.columns
      div.column.is-6.is-offset-3.is-info
        div.card.is-fullwidth.is-margin-top-half
          div.card-image
            figure.image.is-4by3
              img(src='/images/error-image.png' alt='#!')
          div.card-content
            div.media
              div.media-left
                figure.image.is-32x32
                  img(src='/images/error-icon.png' alt='Error')
              div.media-content
                p.title.is-5 Sorry, but this room does not exist!
                p.subtitle.is-6 You have attempted to enter a non-existent in the room!
            div.content
              p
                span Sorry, you have attempted to enter a non-existent in the room!. Contact a
                a(href='#') support
                span   of the resource or use the hyperlinks below.
              div.columns
                div.column.has-text-centered
                  a(href='/') #MainPage
                div.column.has-text-centered
                  a(href='http://sdvor.com') #Site
                div.column.has-text-centered
                  a(href='igrave@gmail.com') #Support
