doctype html
html
  head
    title= 'Комната не найдена'
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    div.columns
      div.column.is-6.is-offset-3.is-info
        div.card.is-fullwidth.is-margin-top-half
          div.card-image
            figure.image.is-4by3
              img(src='/images/error-image.png' alt='#!')
          div.card-content
            div.media
              div.media-left
                figure.image.is-32x32
                  img(src='/images/error-icon.png' alt='Error')
              div.media-content
                p.title.is-5 Извините, но такой комнаты не существует!
                p.subtitle.is-6 Вы попытались зайти в несуществующую комнату!
            div.content
              p
                span Извините, но произошла ошибка. Вы попытались зайти в комнату, которой не существует. Обратитесь в 
                a(href='#') техническую поддержку
                span  ресурса или воспользуйтесь гиперссылками, расположенными ниже.
              div.columns
                div.column.has-text-centered
                  a(href='/') #Главная
                div.column.has-text-centered
                  a(href='http://sdvor.com') #Интернет-магазин
                div.column.has-text-centered
                  a(href='igrave@gmail.com') #Техподдержка