extends layout

block content
    section(class='section')
        div(class='container')
            div(class='heading')
                h1(class='title') Небольшой приветственный текст
                h2(class='subtitle') Подзаголовок секции
                div(class='content')
                    p И текст секции