extends layout

block content
    section.section
        div.container
            div.heading
                h1.title Небольшой приветственный текст
                h2.subtitle Подзаголовок секции
                div.content
                    p И текст секции