doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/bulma.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  body
    section.hero.is-light.is-medium
        // Hero navigation
        div.hero-head
            header.nav
                div.container
                    div.nav-left
                        div.nav-item
                            img(src='/images/logo.png' alt='Строительный двор')
                    div.nav-toggle
                        span
                        span
                        span
                    div.nav-right.nav-menu
                        a.nav-item(href='/') Главная
                        a.nav-item(href='http://sdvor.com') Наш сайт
                        a.nav-item(href='/about') О сервисе
                        span.nav-item
                            a.button.is-dark.is-inverted(href='https://github.com/neuromantic-js/easyrtc-server')
                                span.icon
                                    i.fa.fa-github
                                span GitHub
        //Hero content: will be in the middle
        div.hero-body#image-block
            div.container.has-text-centered
                h1.title Видеочат
                h2.subtitle удобный способ поговорить с нашими специалистами
        // Hero footer: will stick at the bottom
        div.hero-foot
            nav.tabs
                div.container
                    ul#rooms
                        each room in rooms
                            li(class='room-' + room.id)
                                a(href='/widget/' + room.name) #{room.label}
                        if(isLogin)
                            li
                                a(href='/profile') Мой профиль
                            li
                                a(href='/widgets-and-code') Виджеты
                        else
                            li
                                a(href='/login') Войти в систему
    // Content block
    block content
    // Footer
    footer.footer
        div.container
            div.content.has-text-centered
                p
                    strong "Строительный двор"
                    span , все права защищены
                p
                    a.icon(href='http://sdvor.com')
                        i.fa.fa-github
    