extends layout

block content
	section.section
		div.container
		div.columns.is-mobile
			div.column.is-4.is-offset-4.box
				p #{message}
				form(method='post')
					p.control
						input.input(type='text', placeholder='Email', name='login')
					p.control
						input.input(type='password', placeholder='Password', name='password')
					div.columns
						div.column
							p.control
								button.button.is-success Ok
						div.column
							p.control.is-pulled-right
								a.button.is-warning(href='/register') Register
