extends layout

block content
	section(class='section')
		div(class='container')
		div(class='columns is-mobile')
			div(class='column is-4 is-offset-4  box')
				form(method='post')
					p(class='control')
						input(type='email' class='input' placeholder='Email' name='login')
					p(class='control')
						input(type='password' class='input' placeholder='Password' name='password')
					div(class='columns')
						div(class='column')
							p(class='control')
								button(class='button is-success') Войти
						div(class='column')
							p(class='control is-pulled-right')
								a(class='button is-warning' href='/register') Зарегистироваться
