extends layout

append head
    script(type='text/javascript', src='/client/js/ui.js')
    
block content
    section.section
        div.container
            div.columns
                div.column.is-one-quarter
                    aside.menu
                        p.menu-label Профиль пользователя
                        ul.menu-list
                            li
                                if(isActive === 'profile')
                                        a.is-active(href='/profile') Мой профиль
                                else
                                    a(href='/profile') Мой профиль
                            li
                                if(isActive === 'settings')
                                    a.is-active(href='/profile/settings') Настройки
                                else
                                    a(href='/profile/settings') Найстройки
                        if(user.admin === true)
                            p.menu-label Модерация
                                ul.menu-list
                                    li
                                        a(onclick='toggleList("createList")') Создать
                                        if(isActive === 'create-company' || isActive === 'create-room' || isActive === 'create-user')
                                            ul#createList
                                                li
                                                    if(isActive === 'create-company')
                                                        a.is-active(href='/profile/create-company') Компаню
                                                    else
                                                        a(href='/profile/create-company') Компанию
                                                li
                                                    if(isActive === 'create-room')
                                                        a.is-active(href='/prosile/create-room') Комнату
                                                    else
                                                        a(href='/profile/create-room') Комнату
                                                li
                                                    if(isActive === 'create-user')
                                                        a.is-active(href='/profile/create-user') Пользователя
                                                    else
                                                        a(href='/profile/create-user') Пользователя
                                                li
                                                    if(isActive === 'create-page')
                                                        a.is-active(href='/profile/create-page') Страницу
                                                    else
                                                        a(href='/profile/create-page') Страницу

                                        else
                                            ul#createList.is-hidden
                                                li
                                                    if(isActive === 'create-company')
                                                        a.is-active(href='/profile/create-company') Компаню
                                                    else
                                                        a(href='/profile/create-company') Компанию
                                                li
                                                    if(isActive === 'create-room')
                                                        a.is-active(href='/profile/create-room') Комнату
                                                    else
                                                        a(href='/profile/create-room') Комнату
                                                li
                                                    if(isActive === 'create-user')
                                                        a.is-active(href='/profile/create-user') Пользователя
                                                    else
                                                        a(href='/profile/create-user') Пользователя
                                                li
                                                    if(isActive === 'create-page')
                                                        a.is-active(href='/profile/create-page') Страницу
                                                    else
                                                        a(href='/profile/create-page') Страницу
                                    li
                                        a(onclick='toggleList("editList");') Редактировать
                                        if(isActive === 'edit-companies' || isActive === 'edit-rooms')
                                            ul#editList
                                                li
                                                    if(isActive === 'edit-companies')
                                                        a.is-active(href='/profie/companies') Компанию
                                                    else
                                                        a(href='/profile/companies') Компанию
                                                li
                                                    if(isActive == 'edit-rooms')
                                                        a.is-active(href='/profile/rooms') Комнату
                                                    else
                                                        a(href='/profile/rooms') Комнату
                                                li
                                                    if(isActive == 'edit-pages')
                                                        a.is-active(href='/profile/pages') Комнату
                                                    else
                                                        a(href='/profile/pages') Комнату
                                        else
                                            ul#editList.is-hidden
                                                li
                                                    if(isActivate === 'edit-companies')
                                                        a.is-active(href='/profie/companies') Компанию
                                                    else
                                                        a(href='/profile/companies') Компанию
                                                li
                                                    if(isActive == 'edit-rooms')
                                                        a.is-active(href='/profile/rooms') Комнату
                                                    else
                                                        a(href='/profile/rooms') Комнату
                                                li
                                                    if(isActive == 'edit-pages')
                                                        a.is-active(href='/profile/pages') Комнату
                                                    else
                                                        a(href='/profile/pages') Комнату
                        p.menu-label Действия
                            ul.menu-list
                                li
                                    a(href='/logout') Выйти
                div.column
                    block content