doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
        title= roomLabel
        link(rel='stylesheet', href='/stylesheets/bulma.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/client/css/widget.css')
        link(rel="stylesheet", type="text/css", href="/easyrtc/easyrtc.css")
        // Load utils scripts
        script(type='text/javascript' src='/client/js/utils.js')
        script(src="/socket.io/socket.io.js")
        script(type="text/javascript", src="/easyrtc/easyrtc.js")
        if(userType === 'client')
            script(type='text/javascript', src='/client/js/videochat.js')
        else if(userType === 'worker')
            script(type='text/javascript', src='/client/js/videochat-worker.js')
            script(type='text/javascript', src='/client/js/ui.js')
    body(onload=onload)
        div#if-not-posible.is-hidden
            div.card.is-fullwidth.is-fullheight
                div.card-image
                    figure.image.is-2by1
                        img(src='/images/old-browser.png' alt='Uuups!')
                div.card-content
                    div.media
                        div.media-left
                            figure.image.is-32x32
                                image(src='/images/error-icon.png', alt='Error')
                        div.media-content
                            p.title.is-5 Извините, ваш браузер не поддерживается!
                            p.subtitle.is-6 Вы используете устаревшую версию браузера
                    div.content
                        span Для того, чтобы воспользоваться сервисом установите поддерживаемый браузер или закажите обратную связь
                        br
                        div.columns.is-mobile
                            div.column
                                a.button.is-fullwidth(href='https://www.google.ru/chrome/browser/desktop/') Скачать Google Chrome
                            div.column
                                a.button.is-fullwidth(href='#') Обратная связь
        div#if-possible.is-hidden
            nav.nav.is-darken
                div.nav-left
                    a.nav-item.is-brand(href='/')
                        h3.title.is-3.is-yellow
                            span.icon
                                i.fa.fa-comments-o
                            span#roomname(name=roomName) #{roomLabel}
                        
            div.columns
                div.column.sidebar
                    div.box.self-video-box
                        video.easyrtcMirror.is-fullwidth#selfVideo(autoplay='autoplay', muted='muted', volume='0')
                    nav.panel
                        p.panel-heading.has-text-centered#iam Идет соединение
                        p.panel-tabs
                            a#all-menu(onclick='clickTab(this.id)') Всё
                            a#users-menu.is-active(onclick='clickTab(this.id);', href='#') Пользователи
                            a#rooms-menu(onclick='clickTab(this.id);', href='#') Комнаты
                            a#call-menu(onclick='clickTab(this.id);', href='#!') Звонок
                        div#users-menu-block
                            div#otherClients
                        div#rooms-menu-block.is-hidden
                            div#roomList
                        div#call-menu-block.is-hidden
                            a.panel-block(href='#', onclick='hangupCall();')
                                span.panel-icon
                                    i.fa.fa-phone
                                span Положить трубку
                            a.panel-block#cameraOff(href='#', onclick='muteMyVideo();')
                                span.panel-icon
                                    i.fa.fa-ban
                                span Выключить камеру
                            a.panel-block.is-hidden#cameraOn(href='#', onclick='muteMyVideo();')
                                span.panel-icon
                                    i.fa.fa-video-camera
                                span Включить камеру
                            a.panel-block#microphoneOff(href='#', onclick='muteMyMicrophone();')
                                span.panel-icon
                                    i.fa.fa-microphone-slash
                                span Выключить микрофон
                            a.panel-block.is-hidden#microphoneOn(href='#', onclick='muteMyMicrophone();')
                                span.panel-icon
                                    i.fa.fa-microphone
                                span Включить микрофон
                        div.panel-block
                            a.button.is-danger.is-outlined.is-fullwidth(href='/profile') Выйти
                div.column.main-screen
                    video#callerVideo.is-fullwidth(autoplay="autoplay")