doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
        title EasyRTC Demo: Simple Video+Audio
        link(rel='stylesheet', href='/stylesheets/bulma.css')
        link(rel="stylesheet", type="text/css", href="/easyrtc/easyrtc.css")
        script(src="/socket.io/socket.io.js")
        script(type="text/javascript", src="/easyrtc/easyrtc.js")
        script(type='text/javascript', src='/client/js/videochat.js')
    body(onload="my_init();")
        h1(class='title' name=roomName id='roomname') #{roomLabel}
            div(class='columns' id="demoContainer")
                div(class='column is-one-third')
                    div(class="notification is-primary" id="connectControls")
                        div(id="iam") Идет соединение...
                        br
                        strong Connected users:
                        div(id="otherClients")
                div(class='column', id='video')
                    div(class='columns')
                        div(class='column')
                          video(autoplay="autoplay", class="easyrtcMirror", id="selfVideo", muted="muted", volume="0")
                        div(class='column')
                          video(autoplay="autoplay" id="callerVideo")
                    br(style="clear:both;")
                    hr