.is-hidden {
    display: none;   
}
.callerVideo {
    width: 100%;
}
.is-darken {
    background-color: #00897B;
}
.is-yellow {
    color: #ffffff;
}
.is-fullheight {
    position: absolute;
    height: 100%;
}
.white-text {
    color: #ffffff;
}
.sidebar {
    padding: 15px;
    position: absolute;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hiden;
    background-color: #E0F2F1;
}
.is-margin-top {
    margin-top: 5px;
}
.main-screen {
    background-color: #E0F2F1;
    width: 80%;
    height: 100%;
    position: absolute;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#callerVideo{
    height: 100%;
}
#if-possible {
    background-color: #E0F2F1;
    position: absolute;
    width: 100%;
    height: 94%;
}